/* PAGE */
.pfp {
    width: 70px;
    height: 70px;
    padding: 5px;
    border-width: 1px;
    border-radius: 35px;
    border-style: none;

    animation-duration: 1s;
    animation-name: pfp-animation;    
    animation-timing-function: ease-in-out;
    animation-play-state: paused;
    animation-iteration-count: infinite;
}

@keyframes pfp-animation {
    0% {
        border-color: red;
    }

    25% {
        padding: 0px;
        border-style: groove;
        border-color: purple;
    }

    50% {
        transform: rotate(360deg);        
        border-color: blue;
        border-style: none;
    }

    100% {
        transform: rotate(360deg);        
    }
}

.video {
    width: 60%;
    aspect-ratio: 16 / 9;
    display: grid;
    justify-self: center;
}

.map-size {
    width: 90%;
    height: 80vh;
}

.placeholder_image {
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    width: 200px;
    height: 200px;
}

.text {
    color: var(--bs-heading-color);
    line-height: 1.2;
    font-weight: 500;
    text-decoration: none;
}

.hide-table {
    transition-duration: 100ms;
}
/* END PAGE */

/* BUTTONS */
.foo-button {
    position: absolute;
    right: 10px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 10px;
}

.color {
    color: #ff0a0a;
}

.hide {
    display: none;
}
/* END BUTTONS */