/* main style */
html {
    padding-left: 10%;
    padding-right: 10%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #282828;
    color: white;
}

.button {
    background-color: #1a1a1a;
    border: none;
    border-radius: 6px;
    color: white;
    flex-grow: 1;
    font-family: "system-ui";
    font-size: 15px;
    height: 36px;
    line-height: 20px;
    margin-left: 8px;
    margin-right: 6px;
    min-width: 185px;
    cursor: pointer;
}

.button:hover {
    background-color: #3b3b3b;
}

.button:active {
    background-color: #808080;
}

tr:hover {
    background-color: #3b3b3b;
}
/* end main style */

/* header elements */
header {
    background-color: #282828;
    color: white;
    display: flex;
    position: sticky;
    top: 0;
    flex-direction: column;
}

.top {
    display: flex;
    justify-content: space-between;
}

.box {
    box-sizing: border-box;
    width: 50%;
    float: left;
    position: relative;
}

#pfp {
    width: 70px;
    height: 70px;
    padding: 10px;
    display: flex;
    position: static;
}

#logo {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.nav_bar {
    justify-content: center;
    display: flex;
}

nav a {
    color: white;
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-top: 0px;
    padding: 0px, 0px, 0px, 20px;
}

.nav-text {
    color: #ffffff;
    text-decoration: none;
}

.nav-text:hover {
    color: #aaaaaa;
}

.nav-text:active {
    color: #808080;
}

.user-info {
    text-align: right;
    padding: 10px;
    float: right;
}

#box1 {
    border: 2px;
    padding: 25px;
    box-sizing: border-box;
    width: 50%;
    float: left;
}

#box2 {
    border: 2px;
    padding: 25px;
    box-sizing: border-box;
    width: 50%;
    float: left;
}
/* end header elements */

/* main elements */
main {
    display: flex;
    padding: 20px;
}

aside {
    width: 15%;
    padding-right: 20px;
}

section {
    flex-grow: 1;
    width: 70%;
}

.main-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.main-content {
    display: flex;
}

.map-size {
    width: 80%;
    height: 80vh;
}

.projects {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: space-evenly;
}

.project {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#placeholder_image {
    padding: 20px;
    width: 200px;
    height: 200px;
}

.description {
    margin-top: 20px;
}

.video {
    width: 100%;
    height: 315px;
    display: grid;
    justify-self: center;
}
/* end main elements */

/* footer elements */
footer {
    text-align: center;
    padding: 10px;
}

.container__button{
    border: solid black 2px;
}
/* end footer elements */

/* mobile navigation menu */
.close-menu-icon {
    width: 60px;
    height: 60px;
}

.close-menu {
    position: absolute;
    background-color: inherit;
    border: none;
    flex-grow: 1;
    font-family: "system-ui";
    height: 80px;
    min-width: 80px;
    cursor: pointer;
    top: 8px;
    left: 100px;
    padding: 10px;
}

.close-menu:hover {
    background-color: #3b3b3b;
}

.modal.open {
    visibility: visible;
    opacity: 1;
}
/* end mobile navigation menu */

/* @media */
@media screen and (max-width: 768px) { /* mobile 320 - 768 */
    html {
        padding-left: 0px;
        padding-right: 0px;
    }

    main {
        padding-top: 0px;
    }

    .nav_bar {
        display: none;
    }

    aside {
        display: none;
    }

    section {
        align-items: center;
    }

    .main-content {
        justify-content: center;
    }

    .map-size {
        width: 90%;
        height: 80vh;
    }

    .main-section {
        flex-direction: column;
        align-items: center;
    }

    .projects {
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) and (max-width: 1002px) { /* tablet 768 - 992 */
    html {
        padding-left: 0px;
        padding-right: 0px;
    }

    main {
        padding-top: 0px;
    }

    .nav_bar {
        display: none;
    }
    
    aside {
        display: none;
    }

    section {
        align-items: center;
    }

    .main-content {
        justify-content: center;
    }

    .map-size {
        width: 90%;
        height: 80vh;
    }

    .main-section {
        flex-direction: column;
        align-items: center;
    }

    .projects {
        flex-direction: column;
    }
}

@media screen and (min-width: 1002px) { /* pc */
    .close-menu {
        display: none;
    }
}
/* end @media */
